body
{
    color: rgb(19, 17, 17);
    text-align: center;
    font-family: Arial;
}
#cabecera
{
    background: #77ff;
    box-shadow: 0px 10px 50 px 0 px rgba(238, 238, 235, 0.137);
    color: rgb(235, 224, 224);
    font-weight: bold;
    margin: 0%;
    padding: 0.5em;
}
#cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.5cm;

}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgba(12, 9, 206, 0.911);
    margin: auto;
    
}
#container h1
{
    font-size: 30px;
}
#footer
{
    
    border:1px solid rgba(12, 9, 206, 0.911);
    color:rgb(228, 30, 30);
    background: #77ff57;
    padding: 0.5em;
    font-weight: bold;
    width: 69%;
    margin:auto;

}